[submodule "pandoc-workflow"]
	path = pandoc-workflow
	url = https://github.com/dhcolumbia/pandoc-workflow.git
[submodule "bestrew"]
	path = bestrew
	url = https://github.com/dylan-k/bestrew
[submodule "pandoc-ebook-template"]
	path = pandoc-ebook-template
	url = https://github.com/dylan-k/pandoc-ebook-template
